@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Iran Yekan";
    direction: rtl;
    padding: 0;
    background-color: black;
}
@font-face {
    font-family: "Iran Yekan";
    src: url("/public/fonts/vazir-font-v27.2.2-Fontjo.com/Vazir-Regular.ttf");
}

.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

/* @media {
    min-width: ;
} */

.head1 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%),
        url("/public/images/backGround/60.jpg");
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

@media (max-width: 767px) {
    .head1 {
        background-size: 100% 100%;
        background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw),
            url("/public/images/backGround/80.jpg");
    }
}

.head2 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%),
        url("/public/images/backGround/61.jpg");
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

@media (max-width: 767px) {
    .head2 {
        background-size: 100% 100%;
        background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw),
            url("/public/images/backGround/81.jpg");
    }
}

.head3 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%),
        url("/public/images/backGround/62.jpg");
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

@media (max-width: 767px) {
    .head3 {
        background-size: 100% 100%;
        background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw),
            url("/public/images/backGround/82.jpg");
    }
}

.head4 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%),
        url("/public/images/backGround/63.jpg");
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

@media (max-width: 767px) {
    .head4 {
        background-size: 100% 100%;
        background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw),
            url("/public/images/backGround/83.jpg");
    }
}

.head5 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw),
        linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%),
        url("/public/images/backGround/64.jpg");
    /* background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 46.875vw), linear-gradient(to left, rgba(18, 18, 18, 0.7), rgba(18, 18, 18, 0) 50%) */
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

@media (max-width: 767px) {
    .head5 {
        background-size: 100% 100%;
        background-image: linear-gradient(rgba(18, 18, 18, 0) 10vw, rgb(18, 18, 18) 135vw),
            url("/public/images/backGround/84.jpg");
    }
}

.head6 {
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

.head7 {
    box-shadow: rgb(18 18 18) 0px -5px 5px inset;
}

.backCard {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
    background-size: 100% 100%;
    opacity: 0;
    z-index: 100;
    transition: all;
    transition-duration: 1000ms;
}

.login {
    background-image: radial-gradient(at bottom, #1993ff, #121212 70%);
}

.footer {
    box-shadow: rgb(18 18 18) 0px 0px 50px inset;
}

#slide-backGround-pagination .swiper-pagination-bullet {
    background-color: white !important;
    opacity: 0.4 !important;
    margin-left: 8px;
}

#slide-backGround-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: white !important;
    opacity: 1 !important;
}

.detail1 {
    background-image: linear-gradient(to left, #1a1a1a, rgba(26, 26, 26, 0)), url("/public/images/backGround/104.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.animate-fade {
    animation: fade 1s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

#detail-image-home-page::after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    content: "";
    background-image: linear-gradient(to left, #1a1a1a, rgba(26, 26, 26, 0));
}
